.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../photo/hero-img.jpg");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000000;
  letter-spacing: 0.06em;
  padding-top: 200px;
  padding-bottom: 200px;
  & > .container {
    width: 696px;
  }
  &__title {
    margin: 0px;
    margin-bottom: 30px;
    color: var(--footer-text);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
  }
}
